body{
	text-align: center;
	font-family: Calibri;
	background: url(Images/Islandia2.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
 	-webkit-background-size: cover;
 	-ms-background-size: cover;
 	-o-background-size: cover;
}


h1{
	font-size: 70px;
	text-shadow: 3px 3px 3px gray;
	padding-top: 25%;
	padding-left: 200px;
	margin-bottom: 20px;

}

/*Mobile*/
@media only screen and (max-width: 700px) {
  	h1{
		vertical-align: middle;
 	}
}



p{
	font-size: 25px;
	padding-left: 200px;
}

.contacto{
	list-style: none;
	font-size: 30px;
	padding-left: 200px;
}

i:hover{
	color:orange;
}
