body{
	text-align: center;
	font-family: Calibri;
	background: url(Images/Islandia2.jpg) no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
 	-webkit-background-size: cover;
 	-ms-background-size: cover;
 	-o-background-size: cover;
}

h1{
	font-size: 70px;
	padding-top: 50%;
	text-shadow: 3px 3px 3px gray;
	margin-bottom: 20px;
}

p{
	font-size: 25px;
}

.contacto{
	list-style: none;
	font-size: 30px;

}

i:hover{
	color:orange;
}
